# venvs
.venv/
venv/
env/

# OS cruft
.DS_Store

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.db

# Big artifacts we don't want in git
mlartifacts/
artifacts/
!src/serving/model/
data/processed/
.tmp
